
@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
    // ViewData["Message"];
    // string? ViewDataMessage = ViewData["Message"] as string;
    // string? ViewBagMessage = ViewBag.Message;
}


@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="m-3 alert alert-info">
        <p>@TempData["Message"]</p>
    </div>
}


<h1>All Employee</h1>

<br />
<br />

@*<div class="m-3 alert alert-danger">
    <p>@ViewData["Message"]</p>
</div>
*@


@*<div class="m-3 alert alert-danger">
    <p>@ViewBag.Message</p>
</div>
*@


<form>
 <div class="container m-4">
        <div class="row">
            <div class="col-6">
                <input id="SearchInput" placeholder="Search By Name" name="SearchInput" class="form-control" />
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </div>
 </div>
</form>


<a asp-action="Create"  class="btn btn-primary">Create Employee</a>

<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                @* <th>HiringDate</th> *@
                @* <th>CreateAt</th> *@
                 <th>@Html.DisplayNameFor(E=>E.HiringDate )</th> 
                 <th>@Html.DisplayNameFor(E=>E.CreateAt )</th> 
                <th>Department </th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model) 
            {
                <tr>
                    <td>
                        <img src="~/Files/Images/@employee.ImageName" class="img-fluid rounded-circle"/>
                    </td>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Email</td>
                    <td>@employee.Address</td>
                    <td>@employee.Phone</td>
                    <td>@Html.DisplayFor(M => employee.Salary)</td>
                    <td>@employee.IsActive</td>
                    <td>@employee.IsDelete</td>
                    <td>@employee.HiringDate</td>
                    <td>@employee.CreateAt</td>
                    <td>@employee.Department?.Name</td>
                   
                    <partial name="_ButtonPartialView" model="@employee.Id.ToString()" />
                </tr>
            }
        </tbody>
    </table>
}
else {
    <div class="mt-4 alert alert-success">
        <h4>
            There are no Employee :(
        </h4>
    </div>
}
